<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing page</title>
  </head>
  <body>
    <div class="container-fluid ">
      <div class="row">
        <div class="col mt-2 ">
          <img src="../../assets/image/Layer 4.png" alt="Layer"  id="logo-landing"/>
        </div>
        <div class="col mt-2" id="p">
          
              <a  href="../home/home.component.html" id="p1">Home</a>
              <a href="../about-us/about-us.component.html" id="p2"> Abous us</a>
              <a href="../contactus/contactus.component.html" id="p3">Contact Us</a>
        
        </div>
      </div>

      <div class="row ">
        <div class="col md-2 ">
          <h1>
            Find Your Path to Success <br />
            
            with Our Training <br>
            
             Center Locator
          </h1>
        </div>
     
      <div class="col md-2 ">
             <img
          src="../../assets/image/is-online-education-here-to-stay 1.png"
          alt=" reading" id="read"
        />
       
      </div>

    </div>

      <button class="btn btn-light  text-dark"> Sign up</button>

    </div>
  </body>
</html>
